<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> 

  </head>
  <body>

    {% block content %}
    {% endblock %}

  </body>
</html>


