{% extends 'polls/base.html' %}

{% block content %}

<div class="box">
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <div class="choice">
        <input  name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" type="submit" value="Vote" class="btn-submit" style="display:inline-block !important;" placeholder="WAT">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    </div>
{% endfor %}
</form>

</div>

{% endblock %}