{% extends 'polls/base.html' %}

{% block content %}

    <div class="box">

      <h1> Questions List </h1>

      {% if latest_question_list %}
      <ul>

      {% for question in latest_question_list%}
        <li><a href="{% url 'polls:detail' question.id %}"><b>{{ forloop.counter }}.</b> {{ question.question_text }}</a></li>
      {% endfor %}

      </ul>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}

    </div>

{% endblock %}
