{% extends 'polls/base.html' %}

{% block content %}

<div class="box">

<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a class="btn-submit" href="{% url 'polls:detail' question.id %}">Vote again?</a>

</div>

{% endblock %}