
body {
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
}

li a {
    color: #556e90;
    font-size:1.2em;
    font-weight:500;
}

li {
    padding:0.2em;
    color: #556e90;
    font-size:1.2em;
    font-weight:500;
    text-align: left;
    margin:0.3em;
}

ul {
    list-style-type: none;
    margin:0 !important;
    padding-inline-start: 0px;
}

h1 {
    text-align: center;
    color: #2c4b76;
}

.box {
    padding:2em 5em;
    text-align:center;
    background:#c5e7f6;
}

form {
text-align:left;
}

.choice {
    padding:0.2em;
}

.choice label {
    font-size: 1.2em;
    color: #2c4b76;
}

.btn-submit {
    display:block;
    background:#2c4b76;
    color:white;
    border:1px solid white !important;
    box-shadow:none !important;
    padding:0.8em 1.4em;
    margin:auto;
}

